In [1]:
import pandas as pd
import prettytable as pt
import numpy as np

In [3]:
data_AL1 = pd.read_csv('txt_series/LASST010000000000003.txt',delimiter = '|',skiprows=1)
data_AL2 = pd.read_csv('txt_series/LASST010000000000003b.txt',delimiter = '|',skiprows=1)

clean_AL1=data_AL1.drop(0)
clean_AL2=data_AL2.drop(0)

clean_AL1_df=pd.DataFrame(clean_AL1)
clean_AL2_df=pd.DataFrame(clean_AL2)

# clean_AL1_df.columns

renamed_AL1_df = clean_AL1_df.rename(columns={'Unnamed: 0': 'Unnamed_0', 
                                              '      series id       ': 'series_id', 
                                             ' year ': 'year',
                                             ' period ':  'period',
                                             '  value  ': 'value',
                                             ' footnotes ': 'footnotes',
                                             'Unnamed: 6': 'Unnamed_6'})

renamed_AL2_df = clean_AL2_df.rename(columns={'Unnamed: 0': 'Unnamed_0', 
                                              '      series id       ': 'series_id', 
                                             ' year ': 'year',
                                             ' period ':  'period',
                                             '  value  ': 'value',
                                             ' footnotes ': 'footnotes',
                                             'Unnamed: 6': 'Unnamed_6'})


renamed_AL1_df=renamed_AL1_df.drop(columns=['Unnamed_0', 'Unnamed_6', 'footnotes'])
renamed_AL2_df=renamed_AL2_df.drop(columns=['Unnamed_0', 'Unnamed_6', 'footnotes'])



# renamed_AL1_df.head()

AL_df = pd.concat([renamed_AL2_df, renamed_AL1_df], ignore_index=True)

AL_df.dropna()


#### NOW, I WANT TO DO THIS FOR ALL SERIES ####

                  series_id    year    period   value
0     LASST010000000000003   2018.0    M12         3.8
1     LASST010000000000003   2018.0    M11         3.8
2     LASST010000000000003   2018.0    M10         3.8
3     LASST010000000000003   2018.0    M09         3.8
4     LASST010000000000003   2018.0    M08         3.9
..                      ...     ...       ...      ...
236   LASST010000000000003   1999.0    M05         4.8
237   LASST010000000000003   1999.0    M04         4.7
238   LASST010000000000003   1999.0    M03         4.6
239   LASST010000000000003   1999.0    M02         4.6
240   LASST010000000000003   1999.0    M01         4.5

[240 rows x 4 columns]

In [23]:
# FIRST, upload the text files ==

# UNEMPLOYEMNT RATE BY STATE, SEASONALLY ADJUSTED:

# 01 Alabama
data_AL1 = pd.read_csv('LASST010000000000003.txt',delimiter = '|',skiprows=1)
data_AL2 = pd.read_csv('LASST010000000000003b.txt',delimiter = '|',skiprows=1)

# 02 Alaska
data_AK1 = pd.read_csv('LASST020000000000003.txt',delimiter = '|',skiprows=1)
data_AK2 = pd.read_csv('LASST020000000000003b.txt',delimiter = '|',skiprows=1)

# 04 Arizona
data_AZ1 = pd.read_csv('LASST040000000000003.txt',delimiter = '|',skiprows=1)
data_AZ2 = pd.read_csv('LASST040000000000003b.txt',delimiter = '|',skiprows=1)

# 05 Arkansas
data_AR1 = pd.read_csv('LASST050000000000003.txt',delimiter = '|',skiprows=1)
data_AR2 = pd.read_csv('LASST050000000000003b.txt',delimiter = '|',skiprows=1)

# 06 California
data_CA1 = pd.read_csv('LASST060000000000003.txt',delimiter = '|',skiprows=1)
data_CA2 = pd.read_csv('LASST060000000000003b.txt',delimiter = '|',skiprows=1)

# 08 Colorado
data_CO1 = pd.read_csv('LASST080000000000003.txt',delimiter = '|',skiprows=1)
data_CO2 = pd.read_csv('LASST080000000000003b.txt',delimiter = '|',skiprows=1)

# 09 Connecticut
data_CT1 = pd.read_csv('LASST090000000000003.txt',delimiter = '|',skiprows=1)
data_CT2 = pd.read_csv('LASST090000000000003b.txt',delimiter = '|',skiprows=1)

# 10 Delaware
data_DE1 = pd.read_csv('LASST100000000000003.txt',delimiter = '|',skiprows=1)
data_DE2 = pd.read_csv('LASST100000000000003b.txt',delimiter = '|',skiprows=1)

# 11 District of Columbia
data_DC1 = pd.read_csv('LASST110000000000003.txt',delimiter = '|',skiprows=1)
data_DC2 = pd.read_csv('LASST110000000000003b.txt',delimiter = '|',skiprows=1)

# 12 Florida
data_FL1 = pd.read_csv('LASST120000000000003.txt',delimiter = '|',skiprows=1)
data_FL2 = pd.read_csv('LASST120000000000003b.txt',delimiter = '|',skiprows=1)

# 13 Georgia
data_GA1 = pd.read_csv('LASST130000000000003.txt',delimiter = '|',skiprows=1)
data_GA2 = pd.read_csv('LASST130000000000003b.txt',delimiter = '|',skiprows=1)

# 15 Hawaii
data_HI1 = pd.read_csv('LASST150000000000003.txt',delimiter = '|',skiprows=1)
data_HI2 = pd.read_csv('LASST150000000000003b.txt',delimiter = '|',skiprows=1)

# 16 Idaho
data_ID1 = pd.read_csv('LASST160000000000003.txt',delimiter = '|',skiprows=1)
data_ID2 = pd.read_csv('LASST160000000000003b.txt',delimiter = '|',skiprows=1)

# 17 Illinois
data_IL1 = pd.read_csv('LASST170000000000003.txt',delimiter = '|',skiprows=1)
data_IL2 = pd.read_csv('LASST170000000000003b.txt',delimiter = '|',skiprows=1)

# 18 Indiana
data_IN1 = pd.read_csv('LASST180000000000003.txt',delimiter = '|',skiprows=1)
data_IN2 = pd.read_csv('LASST180000000000003b.txt',delimiter = '|',skiprows=1)

# 19 Iowa
data_IA1 = pd.read_csv('LASST190000000000003.txt',delimiter = '|',skiprows=1)
data_IA2 = pd.read_csv('LASST190000000000003b.txt',delimiter = '|',skiprows=1)

# 20 Kansas
data_KS1 = pd.read_csv('LASST200000000000003.txt',delimiter = '|',skiprows=1)
data_KS2 = pd.read_csv('LASST200000000000003b.txt',delimiter = '|',skiprows=1)

# 21 Kentucky
data_KY1 = pd.read_csv('LASST210000000000003.txt',delimiter = '|',skiprows=1)
data_KY2 = pd.read_csv('LASST210000000000003b.txt',delimiter = '|',skiprows=1)

# 22 Louisiana
data_LA1 = pd.read_csv('LASST220000000000003.txt',delimiter = '|',skiprows=1)
data_LA2 = pd.read_csv('LASST220000000000003b.txt',delimiter = '|',skiprows=1)

# 23 Maine
data_ME1 = pd.read_csv('LASST230000000000003.txt',delimiter = '|',skiprows=1)
data_ME2 = pd.read_csv('LASST230000000000003b.txt',delimiter = '|',skiprows=1)

# 24 Maryland
data_MD1 = pd.read_csv('LASST240000000000003.txt',delimiter = '|',skiprows=1)
data_MD2 = pd.read_csv('LASST240000000000003b.txt',delimiter = '|',skiprows=1)

# 25 Massachusetts
data_MA1 = pd.read_csv('LASST250000000000003.txt',delimiter = '|',skiprows=1)
data_MA2 = pd.read_csv('LASST250000000000003b.txt',delimiter = '|',skiprows=1)

# 26 Michigan
data_MI1 = pd.read_csv('LASST260000000000003.txt',delimiter = '|',skiprows=1)
data_MI2 = pd.read_csv('LASST260000000000003b.txt',delimiter = '|',skiprows=1)

# 27 Minnesota
data_MN1 = pd.read_csv('LASST270000000000003.txt',delimiter = '|',skiprows=1)
data_MN2 = pd.read_csv('LASST270000000000003b.txt',delimiter = '|',skiprows=1)

# 28 Mississippi
data_MS1 = pd.read_csv('LASST280000000000003.txt',delimiter = '|',skiprows=1)
data_MS2 = pd.read_csv('LASST280000000000003b.txt',delimiter = '|',skiprows=1)

# 29 Missouri
data_MO1 = pd.read_csv('LASST290000000000003.txt',delimiter = '|',skiprows=1)
data_MO2 = pd.read_csv('LASST290000000000003b.txt',delimiter = '|',skiprows=1)

# 30 Montana
data_MT1 = pd.read_csv('LASST300000000000003.txt',delimiter = '|',skiprows=1)
data_MT2 = pd.read_csv('LASST300000000000003b.txt',delimiter = '|',skiprows=1)

# 31 Nebraska
data_NE1 = pd.read_csv('LASST310000000000003.txt',delimiter = '|',skiprows=1)
data_NE2 = pd.read_csv('LASST310000000000003b.txt',delimiter = '|',skiprows=1)

# 32 Nevada
data_NV1 = pd.read_csv('LASST320000000000003.txt',delimiter = '|',skiprows=1)
data_NV2 = pd.read_csv('LASST320000000000003b.txt',delimiter = '|',skiprows=1)

# 33 New Hampshire
data_NH1 = pd.read_csv('LASST330000000000003.txt',delimiter = '|',skiprows=1)
data_NH2 = pd.read_csv('LASST330000000000003b.txt',delimiter = '|',skiprows=1)

# 34 New Jersey
data_NJ1 = pd.read_csv('LASST340000000000003.txt',delimiter = '|',skiprows=1)
data_NJ2 = pd.read_csv('LASST340000000000003b.txt',delimiter = '|',skiprows=1)

# 35 New Mexico
data_NM1 = pd.read_csv('LASST350000000000003.txt',delimiter = '|',skiprows=1)
data_NM2 = pd.read_csv('LASST350000000000003b.txt',delimiter = '|',skiprows=1)

# 36 New York
data_NY1 = pd.read_csv('LASST360000000000003.txt',delimiter = '|',skiprows=1)
data_NY2 = pd.read_csv('LASST360000000000003b.txt',delimiter = '|',skiprows=1)

# 37 North Carolina
data_NC1 = pd.read_csv('LASST370000000000003.txt',delimiter = '|',skiprows=1)
data_NC2 = pd.read_csv('LASST370000000000003b.txt',delimiter = '|',skiprows=1)

# 38 North Dakota
data_ND1 = pd.read_csv('LASST380000000000003.txt',delimiter = '|',skiprows=1)
data_ND2 = pd.read_csv('LASST380000000000003b.txt',delimiter = '|',skiprows=1)

# 39 Ohio
data_OH1 = pd.read_csv('LASST390000000000003.txt',delimiter = '|',skiprows=1)
data_OH2 = pd.read_csv('LASST390000000000003b.txt',delimiter = '|',skiprows=1)

# 40 Oklahoma
data_OK1 = pd.read_csv('LASST400000000000003.txt',delimiter = '|',skiprows=1)
data_OK2 = pd.read_csv('LASST400000000000003b.txt',delimiter = '|',skiprows=1)

# 41 Oregon
data_OR1 = pd.read_csv('LASST410000000000003.txt',delimiter = '|',skiprows=1)
data_OR2 = pd.read_csv('LASST410000000000003b.txt',delimiter = '|',skiprows=1)

# 42 Pennsylvania
data_PA1 = pd.read_csv('LASST420000000000003.txt',delimiter = '|',skiprows=1)
data_PA2 = pd.read_csv('LASST420000000000003b.txt',delimiter = '|',skiprows=1)

# 44 Rhode Island
data_PA1 = pd.read_csv('LASST440000000000003.txt',delimiter = '|',skiprows=1)
data_PA2 = pd.read_csv('LASST440000000000003b.txt',delimiter = '|',skiprows=1)

# 45 South Carolina
data_SC1 = pd.read_csv('LASST450000000000003.txt',delimiter = '|',skiprows=1)
data_SC2 = pd.read_csv('LASST450000000000003b.txt',delimiter = '|',skiprows=1)

# 46 South Dakota
data_SD1 = pd.read_csv('LASST460000000000003.txt',delimiter = '|',skiprows=1)
data_SD2 = pd.read_csv('LASST460000000000003b.txt',delimiter = '|',skiprows=1)

# 47 Tennessee
data_TN1 = pd.read_csv('LASST470000000000003.txt',delimiter = '|',skiprows=1)
data_TN2 = pd.read_csv('LASST470000000000003b.txt',delimiter = '|',skiprows=1)

# 48 Texas
data_TX1 = pd.read_csv('LASST480000000000003.txt',delimiter = '|',skiprows=1)
data_TX2 = pd.read_csv('LASST480000000000003b.txt',delimiter = '|',skiprows=1)

# 49 Utah
data_UT1 = pd.read_csv('LASST490000000000003.txt',delimiter = '|',skiprows=1)
data_UT2 = pd.read_csv('LASST490000000000003b.txt',delimiter = '|',skiprows=1)

# 50 Vermont
data_VT1 = pd.read_csv('LASST500000000000003.txt',delimiter = '|',skiprows=1)
data_VT2 = pd.read_csv('LASST500000000000003b.txt',delimiter = '|',skiprows=1)

# 51 Virginia
data_VA1 = pd.read_csv('LASST510000000000003.txt',delimiter = '|',skiprows=1)
data_VA2 = pd.read_csv('LASST510000000000003b.txt',delimiter = '|',skiprows=1)

# 53 Washington
data_WA1 = pd.read_csv('LASST530000000000003.txt',delimiter = '|',skiprows=1)
data_WA2 = pd.read_csv('LASST530000000000003b.txt',delimiter = '|',skiprows=1)

# 54 West Virginia
data_WV1 = pd.read_csv('LASST540000000000003.txt',delimiter = '|',skiprows=1)
data_WV2 = pd.read_csv('LASST540000000000003b.txt',delimiter = '|',skiprows=1)

# 55 Wisconsin
data_WI1 = pd.read_csv('LASST550000000000003.txt',delimiter = '|',skiprows=1)
data_WI2 = pd.read_csv('LASST550000000000003b.txt',delimiter = '|',skiprows=1)

# 56 Wyoming
data_WY1 = pd.read_csv('LASST560000000000003.txt',delimiter = '|',skiprows=1)
data_WY2 = pd.read_csv('LASST560000000000003b.txt',delimiter = '|',skiprows=1)

In [11]:
# FIRST CLEAN UP of IMPORTED SERIES

states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 
          'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 
          'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

#print(f'data_'+states[0]+'1')

#print(range(len(states)))

# seriesID_1 = []
# seriesID_2 = []

# for z in range(len(states)):
#     seriesID_1[z] = f'data_'+states[z]+'1'
#     seriesID_2[z] = f'data_'+states[z]+'2'

# DOESN'T WORK: IndexError: list assignment index out of range

In [4]:
# seriesID_1 = []

# for state in states:
#     while len(seriesID_1) < 50:
#         new = f'data_'+states[state]+'1'
#         seriesID_1.append(new)

# seriesID_1

# DOESN'T WORK: TypeError: list indices must be integers or slices, not str

In [3]:
seriesID_1 = states

for y in range(len(states)):
    seriesID_1[y] = f'data_'+states[y]+'1'

seriesID_1_df=pd.DataFrame(seriesID_1)

seriesID_1_df.to_csv("csv_series/seriesID_1.csv", index=False, header=True)

# IT WORKS THE FIRST TIME FOR seriesID_1 BUT seriesID_2 HAS data_ TWICE. AND EVERYTIME THIS IS RUN, TWO MORE 
# ARE ADDED. THIS IS THE REASON I RAN THEM SEPARATELY.

In [3]:
seriesID_2 = states

for t in range(len(states)):
    seriesID_2[t] = f'data_'+states[t]+'2'

seriesID_2_df=pd.DataFrame(seriesID_2)

seriesID_2_df.to_csv("csv_series/seriesID_2.csv", index=False, header=True)

In [12]:
data_1 = pd.read_csv("csv_series/seriesID_1.csv")
data_2 = pd.read_csv("csv_series/seriesID_2.csv")

data_1.drop(0)
data_2.drop(0)

#data_1.columns

data_1 = data_1.rename(columns={'0': 'series_1'})
data_2 = data_2.rename(columns={'0': 'series_2'})

#data_2.head()
# len(data_2)

In [22]:
for series in data_1:
    print(series)
#     clean_item=item.drop(0)
#     clean_item_df=pd.DataFrame(clean_item)
    


# clean_AL2=data_AL2.drop(0)
# clean_AL2_df=pd.DataFrame(clean_AL2)


# clean_AL1=data_AL1.drop(0)
# clean_AL2=data_AL2.drop(0)

# clean_AL1_df=pd.DataFrame(clean_AL1)
# clean_AL2_df=pd.DataFrame(clean_AL2)

# # clean_AL1_df.columns

series_1